@font-face {
    font-family: 'TTNorms';
    src: url('fonts/TTNorms-Regular.eot');
    src: url('fonts/TTNorms-Regular.eot') format('embedded-opentype'), url('fonts/TTNorms-Regular.woff2') format('woff2'), url('fonts/TTNorms-Regular.woff') format('woff'), url('fonts/TTNorms-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFRegalDisplayPro';
    src: url('fonts/PFRegalDisplayPro-Italic.eot');
    src: url('fonts/TTNorms-Regular.eot') format('embedded-opentype'), url('fonts/PFRegalDisplayPro-Italic.woff2') format('woff2'), url('fonts/PFRegalDisplayPro-Italic.woff') format('woff'), url('fonts/PFRegalDisplayPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: 'TTNorms', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #21242E;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}


/* header */

.header {
    display: flex;
    justify-content: space-between;
    padding: 25px 35px 0 37px;
    border-bottom: 1px solid #EBEBEB;
}

@media(max-width: 1050px) {
    .header {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.menu,
.navigation {
    display: flex;
    list-style: none;
}

@media(max-width: 800px) {
    .menu {
        display: none;
    }
    .phone-number {
        display: none;
    }
}

.item {
    margin-right: 16px;
}

.item:last-child {
    margin-right: 0;
}

.link {
    text-transform: uppercase;
    color: #21242E;
    font-size: 14px;
    text-decoration: none;
}

@media(max-width: 1050px) {
    .link {
        font-size: 10px;
    }
}

.link:hover {
    color: #D0BC7A;
}

.link:active,
.svg-link:active {
    opacity: 0.56;
}

.link:hover .svg-dark {
    fill: #D0BC7A;
}

.svg-arrow {
    vertical-align: top;
    padding-top: 4px;
}

@media(max-width: 1050px) {
    .svg-arrow {
        padding-top: 8px;
    }
}

.svg-item {
    margin-right: 19px;
}

@media(max-width: 1050px) {
    .svg-item {
        margin-right: 10px;
    }
}

.svg-item:first-child {
    margin-right: 42px;
}

@media(max-width: 1050px) {
    .svg-item:first-child {
        margin-right: 10px;
    }
}

.svg-item:last-child {
    margin-right: 10px;
}

.svg-link {
    color: #D0BC7A;
}

.svg-link:hover {
    color: #21242E;
}

.svg-link:hover .svg {
    fill: #21242E;
}


/* burder-menu */

.burger-menu {
    display: block;
}

.menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 15px;
    width: 20px;
    height: 45px;
    cursor: pointer;
    z-index: 1;
}

.menu-btn>span,
.menu-btn>span::before,
.menu-btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: #21242E;
    transition-duration: .4s;
}

.menu-btn>span::before {
    content: '';
    top: -8px;
    opacity: 0;
}

.menu-btn>span::after {
    content: '';
    top: 8px;
}

.menubox {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 50px 0;
    list-style: none;
    background-color: #ffffff;
    transition-duration: 0.4s;
    z-index: 999;
}

.menublock {
    padding: 268px 24px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    transition-duration: 0.4s;
}

@media(max-width: 800px) {
    .menublock {
        padding-top: 57px;
        padding-bottom: 40px;
    }
}

.menu-item:hover {
    text-decoration: underline;
}

.menu-item:active {
    opacity: 0.8;
}

#menu-toggle {
    opacity: 0;
}

#menu-toggle:checked~.menu-btn>span {
    transform: rotate(45deg);
}

#menu-toggle:checked~.menu-btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu-toggle:checked~.menu-btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu-toggle:checked~.menubox {
    visibility: visible;
    left: 0;
    top: 45px;
    width: 100%;
    height: 768px;
}

@media(max-width: 800px) {
    #menu-toggle:checked~.menubox {
        height: 630px;
    }
}

.burger-items {
    list-style: none;
}

.caption {
    line-height: 45px;
}

@media(max-width: 800px) {
    .caption {
        line-height: 35px;
    }
}

.burger-link {
    opacity: 0.2;
    text-transform: none;
    font-size: 16px;
}

.burger-link:hover .burder-svg {
    fill: #D0BC7A;
}


/* aside-block */

.aside-block {
    padding-left: 0;
    border-right: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
}

.aside {
    list-style: none;
    padding: 0;
    padding-top: 120px;
}

@media(max-width: 800px) {
    .aside {
        display: flex;
        justify-content: space-between;
        margin-left: 16px;
        margin-right: 16px;
        position: relative;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .aside-item:nth-child(2) {
        position: absolute;
        top: 8px;
        left: 65px;
    }
}

.link-gold {
    color: #D0BC7A;
}


/* forms */

.forms {
    padding-left: 95px;
    padding-top: 126px;
    padding-bottom: 112px;
    max-width: 544px;
    border-bottom: 1px solid #EBEBEB;
}

@media(max-width: 800px) {
    .forms {
        padding-left: 16px;
        padding-bottom: 64px;
    }
}

.forms-block {
    border-top: 1px solid #EBEBEB;
}

.title {
    font-size: 80px;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.profile-block {
    padding-bottom: 80px;
}

.heading {
    font-size: 24px;
    margin-bottom: 48px;
}

.label {
    opacity: 0.4;
}

.input {
    width: 100%;
    background-color: #F7F7F7;
    border-radius: 4px;
    border: none;
    padding: 16px;
    margin-top: 12px;
    margin-bottom: 24px;
}

.password-block {
    padding-bottom: 80px;
}

.password {
    position: relative;
}

.button {
    position: absolute;
    background: transparent;
    border: none;
    border-radius: 4px;
    top: 50px;
    right: 10px;
}

.button:hover .svg-form {
    fill: #21242E
}

.button:active .svg-form {
    display: none;
}

.button:active .show-password {
    display: block;
    position: absolute;
    top: 37px;
    left: 498px;
}

.show-password {
    display: none;
}

.submit {
    margin-top: 80px;
    padding: 16px 32px;
    background-color: #21242E;
    color: #ffffff;
    border: none;
}

@media(max-width: 500px) {
    .submit {
        width: 100%;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-top: 32px;
    }
}

.submit:hover {
    background-color: #D0BC7A;
}


/* catalog */

.catalog {
    border-top: 1px solid #EBEBEB;
}

@media(max-width: 800px) {
    .catalog {
        border: none;
    }
}

.catalog-block {
    position: relative;
}

.heading {
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
}

@media(max-width: 800px) {
    .heading {
        font-size: 28px;
        line-height: 32px;
    }
}

.gold-heading {
    color: #D0BC7A;
}

.catalog-link {
    position: absolute;
    top: 20px;
    right: 0px;
    text-transform: none;
    font-size: 16px;
    color: #21242E;
    text-decoration: none;
}

@media(max-width: 800px) {
    .catalog-link {
        top: 746px;
        right: 240px;
    }
}

.catalog-link:hover {
    opacity: 0.56;
    color: #21242E;
}


/* slider */

.slider-block {
    width: 100%;
}

.card {
    width: 256px;
    background-color: #F7F7F7;
    border-radius: 8px;
    border: none;
    position: relative;
}

.card:hover {
    border: 1px solid rgba(33, 36, 46, 0.4);
    color: #D0BC7A;
}


/* .glide__slide--active {
    width: 256px;
} */

.card-img-top {
    border-bottom: 12px solid #C08D74;
}

.card-img-top:nth-child(even) {
    border-bottom: 12px solid #EA976F;
}

.card-img-top:nth-child(3) {
    border-bottom: 12px solid #C07474;
}

.sticker {
    position: absolute;
    top: 24px;
    left: 24px;
    background-color: #EB5757;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    padding: 4px 12px 6px 12px;
    border-radius: 100px;
}

.button-card {
    position: absolute;
    top: 23px;
    right: 25px;
}

.button-card:hover .svg-card {
    fill: #21242E;
    opacity: 0.6;
}

.button-card:active .svg-card {
    fill: #D0BC7A;
}

.card-text {
    margin-left: 24px;
}

.italic {
    font-family: 'PFRegalDisplayPro', sans-serif;
    font-size: 18px;
    line-height: 18px;
}

.description {
    font-size: 14px;
    color: #21242E !important;
}

.price {
    color: #21242E !important;
}

.old-price {
    text-decoration: line-through;
    margin-left: 8px;
    opacity: 0.6;
}


/* footer */

.footer {
    background-color: #21242E;
    color: #ffffff;
    padding-top: 56px;
    padding-bottom: 32px;
}

.footer-menu {
    padding-bottom: 44px;
}

.items {
    list-style: none;
}

.caption-footer {
    font-size: 24px;
}

.caption-footer:hover {
    color: #D0BC7A;
}

.footer-item {
    margin-bottom: 12px;
    opacity: 0.2;
}

.footer-link,
.contact-link {
    color: #ffffff;
    text-decoration: none;
    text-transform: none;
}

.contact-link {
    margin-right: 10px;
}

@media(max-width: 1050px) {
    .contact-link {
        font-size: 16px;
    }
}

.footer-link:hover {
    opacity: 0.56;
    color: #ffffff;
}

.contact-link:hover .footer-svg {
    fill: #D0BC7A;
    opacity: 1;
}

.footer-middle {
    border-top: 1px solid rgba(255, 255, 255, 0.16);
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    padding-top: 32px;
    padding-bottom: 32px;
}

@media(max-width: 800px) {
    .footer-middle {
        padding-bottom: 40px;
    }
}

.middle-block {
    display: flex;
    justify-content: space-between;
}

@media(max-width: 800px) {
    .middle-block {
        flex-direction: column;
    }
}

.social-link {
    margin-right: 8px;
    text-decoration: none;
}

.social-link:hover .social-svg {
    fill: #D0BC7A;
}

.footer-bottom {
    padding-top: 32px;
}

@media(max-width: 800px) {
    .copyright {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

.disclaimer,
.copyright {
    opacity: 0.6;
}

.copyright:hover {
    opacity: 0.8;
}

.copyright:hover .copyright-svg {
    opacity: 1;
}